PORT=8080

ORGANIZATION_NAME=Walletify
TEAM_IDENTIFIER=YOUR_TEAM_ID
PASS_TYPE_IDENTIFIER=pass.com.yourcompany.walletify

PASS_BACKGROUND_COLOR=rgb(17, 24, 39)
PASS_FOREGROUND_COLOR=rgb(255, 255, 255)
PASS_LABEL_COLOR=rgb(156, 163, 175)

# Provide either *_PATH, *_BASE64, or *_PEM values.
WWDR_CERT_PATH=./certs/wwdr.pem
SIGNER_CERT_PATH=./certs/signerCert.pem
SIGNER_KEY_PATH=./certs/signerKey.pem

# Optional if your private key is encrypted.
SIGNER_KEY_PASSPHRASE=
